.topnav{
    overflow: hidden;
    background-color: #333;
}
.topnav a{
    display: block;
    float: left;
    text-decoration: none;
    font-size: 17px;
    padding: 12px 12px;
    color: whitesmoke;
}
.topnav a:hover{
    background-color: whitesmoke;
    color: #333;
}
.topnav .search-container{
    float: right;
}
.topnav input[type=text]{
    font-size: 17px;
    margin-top:6px;
    padding:6px;
    border: none;
}
.topnav .search-container button{
    float: right;
    font-size: 17px;
    padding: 6px 10px;
    border: none;
    margin-top: 6px;
    cursor: pointer;
    margin-right: 5px;
    background-color: #ccc;
}
.topnav .search-container button:hover{
    background-color: #333;
    color: whitesmoke;
}
@media screen and (max-width:600px){
    .topnav .search-container{
        float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button{
        display: block;
        float: none;
        margin:0;
        width: 100%;
        padding: 10px;
    }
    .topnav input[type=text]{
        border: 1px solid #333;
    }
}