.nav a{
    padding: 10px;
    position: absolute;
    left: -80px;
    width: 100px;
    font-size: 25px;
    text-decoration: none;
    border-radius: 0 5px 5px 0;
    transition: 0.5s;
    color: white;
    text-align: left;
}
.nav a:hover{
    left: 0;
}

#about{
    top: 20px;
    background-color: pink;
}
#case{
    top: 80px;
    background-color: lightblue;
}
#menu{
    top: 140px;
    background-color: cadetblue;
}
#half{
    top: 200px;
    background-color: purple;
}
#full{
    top: 260px;
    background-color: gray;
}