.menu-icon{
    cursor: pointer;
    /* margin-top: -80px; */
    /* color: whitesmoke; */
}
.menu-icon div{
    width: 30px;
    height: 5px;
    background-color: orange;
    margin: 5px;
    /* margin-left: auto;  b-t+c = 170, b-c+t=130   */
}
main{
    color: aliceblue;
    margin-left: 100px;
    padding: 20px; 
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 100px;
}