/* sidebar menu */
.sidenav{
    height: 100%;/*full height, rmeove this if want auto height*/
    width: 150px;
    position: fixed;
    z-index: 1;/*stay on top*/
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;/*disable horizontal scroll*/
    padding-top: 20px;
}

/* navigation menu link */
.sidenav a{
    padding: 6px 8px 6px 16px;
    display: block;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
}
.sidenav a:hover{
    background-color: #f1f1f1;
}
.main{
    margin-left: 160px;
    padding: 0px 10px;
}