*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: #aaa;
}
.topnav{
    overflow: hidden;
    background-color: #333;
}
.topnav a{
    display: block;
    float: left;
    padding: 12px 12px;
    font-size: 17px;
    text-decoration: none;
    color: #f1f1f1;
}
.topnav a:hover{
    background-color: #f1f1f1;
    color: #333;
}
.topnav .search-container{
    float: right;
    /* display: block; */
}
.topnav input[type=text]{
    display: block;
    float: left;
    margin-top: 6px;
    padding: 6px;
    border: none;
    font-size: 17px;
}
.topnav .search-container a{
  margin-right: 5px;
  width: 40px;
  text-align: center;
  /* height: 35px; */
  margin-top: 6px;
  padding: 6px;
}
.topnav .search-container a:hover{
    background-color: #f1f1f1;
    color: #333;
}
#row{
    display: flex;
}
#left{
    flex: 20%;
    padding: 12px 12px;
}
#right{
    flex:70%;
}
#myMenu{
    list-style-type: none;
}
#left input[type=text]{
    width: 100%;
    padding: 10px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}
#myMenu li a{
    text-decoration: none;
    color: #333;
    font-size: 17px;
    padding: 12px;

}
#myMenu li{
    margin: 15px;
}
#myMenu li a:hover{
    background-color: #f1f1f1;
}